<div *ngIf="article">
  <mat-card>Edit Article</mat-card>
  <br />
  <mat-card class="width-card">
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="article.name" matInput placeholder="Article name" name="first">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="article.topic" matInput placeholder="Topic" name="first1">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width">
        <textarea [(ngModel)]="article.text" matInput placeholder="Article text" name="first2" style="height:400px"></textarea>
      </mat-form-field>
      <br />
      <button mat-button mat-raised-button matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="onSave()">Save</button>
      <button mat-button mat-raised-button matTooltip="Info about the action" aria-label="Button that displays a tooltip when focused or hovered over"
        (click)="onCancel()">Cancel</button>
    </form>
  </mat-card>
</div>